header {
  height: 80px;
  width: 100%;
  background-color: rgb(153, 246, 72);
  display: flex;
  box-shadow: 5px 5px 5px green;
}
.cla1 {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: left;
}
.cla1 img {
  height: 100%;
  width: 100px;
  margin-left: 15px;
}
.cla2 {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.cla2 li {
  margin-right: 12px;
}
li {
  display: flex;
  width: 90px;
}
.stvarno {
  width: 110px;
}
.iconica {
  margin-top: 17px;
  margin-right: 3px;
}
.cla3 {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 7px;
  padding-right: 10px;
}
button {
  width: 120px;
  height: 40px;
  background-color: rgb(22, 237, 122);
  border-width: 0px;
  border-radius: 5px;
}
.cla2 li :nth-of-type(2) {
  text-decoration: none;
}
